*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    
}
.header .container .navbar-brand{
    font-size: 34px;
    font-weight: 700;
    color: #189a46;
}
.header .container .nav-item{
    margin: 0 15px;
}
.header .container .navbar-nav a{
    color: black;
    font-size: 19.2px;
    font-weight: 400;
    padding: 0;
    transform: translateY(15px);
}
.header .container .navbar-nav a:hover{
    color: #189a46;
}
.header .container .navbar-nav hr{
    height: 2px;
    color: green;
}
.header .container .navbar-nav .nav-item .active{
    color: #189a46;
}
.header .container .container-fluid .nav-toggler{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    display: none;
}
.fa-moon{
    transform: rotate(-20deg) scale(var(--ggs, 1)) translateY(10px) !important;
    text-decoration: none;
    margin-top: 12px;
}
/* End Header */





/* Carousel */
.carousel{
    background-image:url(../img/g4.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;

}
.carousel .container{
    position: relative;
}
.carousel .dim{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.carousel .container h2{
    text-align: center;
    margin-top: 140px;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.carousel .container p{
    font-size: 19.2px;
    color: white;
    text-align: center;
}
.carousel .container p a{
    color: #189a46;
    text-decoration: none;
    font-weight: 500;
}


/* End carousel */





/* Experience */
.experience{
    padding: 80px 0;
    position: relative;
}

.experience .container{
    display: flex;
    align-items: center;
}
.experience .container .col-l{
    width: 40%;
}
.experience .container .col-r{
    width: 60%;
    padding: 30px 0;
}
.experience .container .col-l h2{
    font-size: 18px;
    color: #f54626;
}
.experience .container .col-l h1{
    font-size: 40px;
    font-weight: 700;
}
.experience .container .col-l p{
    font-size: 22px;
}
.experience .container .col-r p{
    font-size: 19.2px;
}
.experience .container .col-r a{
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid #189a46;
}
.experience .container .col-r a:hover{
    color: #189a46;
    transition: all 0.5 s;
}
/* End experience */





/* History */
.history{
    background-image: url(../img/banner2.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    position: relative;
    height: 500px;
}
.history .dim{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.history .container-s{
    max-width: 620px;
    margin-left: 520px;
    position: relative;
    z-index: 3;
    height: 100%;
    
}
.history h4{
    margin-bottom: 60px;
}
.history .container-s h2{
    font-size: 18px;
    color: #f54626;
    margin-bottom: 10px;
    
}
.history .container-s h1{
    font-size: 40px;
    font-weight: 700;
}
.history .container-s p{
    font-size: 19.2px;
    margin-bottom: 30px;
    color: #c5c1bc;
}
.history .container-s .years{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history .container-s .years p{
    counter-reset: #c5c1bc;
}
/* End history */





/* Reason */
.reason{
    padding: 50px 0;
}
.reason .container{
    display: flex;
    align-items: center;
}
.reason .container .col-l{
    width: 50%;
    padding:  10px 15px;
    text-align: right;
}
.reason .container .col-l img{
    width: 95%;
    border-radius: 10px;
}
.reason .container .col-l h2{
    font-size: 18px;
    color: #f54626;
}
.reason .container .col-l h1{
    font-size: 40px;
    font-weight: 700;
}
.reason .container .col-l p{
    font-size: 19.2px;
    color: #c5c1bc;
}
.reason .container .col-r{
    width: 50%;
    padding: 10px 15px;
}
.reason .container .col-r .item{
    display: flex;
    
}
.reason .container .col-r .item i{
    margin-right: 30px;
    font-size: 35px;
    color: #189a46;
}
.reason .container .col-r .item .item-1 a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: black;
}
.reason .container .col-r .item .item-1 a:hover{
    color: #189a46;
    transition: all 0.5s;
}
.reason .container .col-r .item .item-1 p{
    font-size: 19.2px;
    color: #c5c1bc;
}
/* End reason */





/* Team */
.team{
    padding: 50px 0;
    background-color: #f9f7fe;
}
.team .title h2{
    font-size: 18px;
    color: #f54626;
    text-align: center;
}
.team .title h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.team .main .container{ 
    display: flex;
    justify-content: space-between;
}
.team .main .container .item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team .main .container .item a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 620; 
}
.team .main .container .item a:hover{
    color: #189a46;
    transition: all 1s;

}
.team .main .container .item p{
    font-size: 16px;
    color: #696969;
}
.team .main .container .picture{
    background-image:url(../img/team1.jpg);
    height: 300px;
    width: 265px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}
.team .main .container .picture1{
    background-image:url(../img/team2.jpg);
    height: 300px;
    width: 265px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}
.team .main .container .picture2{
    background-image:url(../img/team3.jpg);
    height: 300px;
    width: 265px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}
.team .main .container .picture3{
    background-image:url(../img/team4.jpg);
    height: 300px;
    width: 265px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}
.team .main .container .item:hover .picture{
    background-size: 110%;
    transition: 2s;
}
.team .main .container .item:hover .picture1{
    background-size: 110%;
    transition: 2s;
}
.team .main .container .item:hover .picture2{
    background-size: 110%;
    transition: 2s;
}
.team .main .container .item:hover .picture3{
    background-size: 110%;
    transition: 2s;
}
.team .main .container .item .icon{
    display: flex;
    justify-content: center;
}
.team .main .container .item .icon .ic{
    width: 30px;
    height: 30px;
    background-color: #f3effd;
    margin:  0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.team .main .container .item .icon .ic i{
    color: #189a46;
    font-size: 12px;
}
.team .main .container .item .icon .ic:hover{
    background-color: #189a46;
    transition: all 1s;
}
.team .main .container .item .icon .ic:hover i{
    color: white;
    transition:  all 1s;
}
.team .main .container.respon2{
    display: none;
}
/* End team */





/* Footer */
.footer{
    padding: 50px 0 20px 0;
    background-color: black;
    color: white;
}
.footer .container{
    display: flex;
}
.footer .container a{
    color: white;
    text-decoration: none;
    margin: 5px 0;
}
.footer .container a:hover{
    text-decoration:underline;
}
.footer .container h2{
    margin-bottom: 50px;
    font-size: 20px;
}
.footer .container .col-l{
    width: 50%;
}
.footer .container .col-r{
    display: flex;
    width: 50%;
}
.footer .container .col-r .item{
    width: 33.33%;
}
.footer .container .col-r .link{
    display: flex;
    flex-direction: column;
}
.footer .last p{
    text-align: center;
}
.footer .last a{
    color: red;
    text-decoration: none;
}
.footer .last a:hover{
    text-decoration: underline;
}
/* End footer */
.f-video{
    padding: 0 0;
}
.f-video .container{
    text-align: center;
    padding: 0 0;
}
.f-video .container .item{
    position: relative;
}
.f-video .container iframe{
    width: 1000px;
    height: 600px;
    /* position: absolute;
    right: 50%; */
}
.f-video .up{
    display: flex;
    justify-content: end;
}
.f-video .up h2{
    font-size: 13px;
    position: absolute;
    top: 50px;
    right: 150px;
}
.f-video .up h2 a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.f-video .up h2 a span{
    color: red;
}



.top i{
    font-size: 30px;
    color: white;
}
.top{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background-color: #189a46;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}












/* Deskop */
@media screen and (max-width: 1200px) {
/* Header */
/* End header */





/* Carousel */
/* End carousel */





/* Experience */

/* End experience */
    




/* History */
/* End history */





/* Reason*/
/* End reason */






/* Team */
.team .main .container.container.respon2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team .main .container.container.respon1{
    display: none;
}
.team .main .container.container.respon2 .up,
.team .main .container.container.respon2 .down{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.team .main .container.container.respon2 .item{
    margin: 30px 30px;
}
/* End team */





/* Footer */
/* End footer */
}
/* End deskop */





/* Tablet */
@media screen and (max-width: 992px) {
/* Header */
.header{
    position: relative;
}
.header .container .container-fluid .navbar-collapse.collapse{
    display: none;
}
.header .container .container-fluid .nav-toggler{
    display: inline-block;
}
.header .container .navbar .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End header */





/* Carousel */
/* End carousel */





/* Experience */
.experience{
    padding: 10px 0;
}
/* End experience */
    




/* History */
.history{
    height: 700px;
}
.history .container-s{
    max-width: 620px;
    margin-left: 20px;
    position: relative;
    z-index: 3;
    height: 100%;
    
}
.history .container-s h4{
    margin-top: 100px;
}
/* End history */





/* Reason*/
/* End reason */






/* Team */
.team .main .container.container.respon2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team .main .container.container.respon1{
    display: none;
}
.team .main .container.container.respon2 .up,
.team .main .container.container.respon2 .down{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.team .main .container.container.respon2 .item{
    margin: 30px 30px;
}
/* End team */





/* Footer */
/* End footer */
.f-video .container iframe{
    width: 700px;
    margin-right: 50px;
    
}
.f-video .up h2{
    font-size: 13px;
    position: absolute;
    top: 100px;
    right: 50px;
}
}
/* End tablet */





/* Mobile ngang */
@media screen and (max-width: 768px) {
/* Header */
.header{
    position: relative;
}
.header .container .container-fluid .navbar-collapse.collapse{
    display: none;
}
.header .container .container-fluid .nav-toggler{
    display: inline-block;
}
.header .container .navbar .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End header */





/* Carousel */
/* End carousel */





/* Experience */
.experience .container{
    flex-direction: column;
    align-items: center;
}
.experience .container .col-l{
    width: 100%;
}
.experience .container .col-l h1{
    text-align: center;
    font-size: 40px;
}
.experience .container .col-l h2{
    text-align: center;
}
.experience .container .col-l p{
    text-align: center;
}
.experience .container .col-r{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience .container .col-r p{
    text-align: center;
}
/* End experience */
    




/* History */
.history{
    height: 700px;
}
.history .container-s{
    max-width: 620px;
    margin-left: 20px;
    position: relative;
    z-index: 3;
    height: 100%;
    
}
.history .container-s h4{
    margin-top: 100px;
}
/* End history */





/* Reason*/
.reason .container{
    flex-direction: column;
    align-items: center;
}
.reason .container .col-l,
.reason .container .col-r{
    width: 100%;
    text-align: center;
}
.reason .container .col-r .item i{
    margin-right: 0px;
}
/* End reason */






/* Team */
.team .main .container{
    flex-direction: column;
}
.team .main .container .item{
    margin:  30px 0;
}
/* End team */





/* Footer */
.footer .container{
    flex-direction: column;
}
.footer .container .col-l{
    align-items: center;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer .container .col-l .info p{
    text-align: center;
}
.footer .container .col-r{
    flex-direction: column;
    margin-bottom: 40px;
    width: 100% !important;
}
.footer .container .col-r .item{
    margin:  20px 0;
    width: 100%;
}
.footer .container .col-r .item h2{
    text-align: center;
}
.footer .container .col-r .item .link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End footer */
.f-video .container iframe{
    width: 500px;
    
}
.f-video .up h2{
    font-size: 13px;
    position: absolute;
    top: 150px;
    right: 50px;
}
}
/* End mobile ngang */





/* Mobie dọc */
@media screen and (max-width: 576px) {
/* Header */
.header{
    position: relative;
}
.header .container .container-fluid .navbar-collapse.collapse{
    display: none;
}
.header .container .container-fluid .nav-toggler{
    display: inline-block;
}
.header .container .navbar .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End header */





/* Carousel */
/* End carousel */





/* Experience */
.experience .container{
    flex-direction: column;
    align-items: center;
}
.experience .container .col-l{
    width: 100%;
}
.experience .container .col-l h1{
    text-align: center;
    font-size: 35px;
}
.experience .container .col-l h2{
    text-align: center;
}
.experience .container .col-l p{
    text-align: center;
}
.experience .container .col-r{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience .container .col-r p{
    text-align: center;
}
/* End experience */
    




/* History */
.history{
    height: 700px;
}
.history .container-s{
    max-width: 620px;
    margin-left: 20px;
    position: relative;
    z-index: 3;
    height: 100%;
    
}
.history .container-s h4{
    margin-top: 100px;
}

/* End history */





/* Reason*/
.reason .container{
    flex-direction: column;
    align-items: center;
}
.reason .container .col-l,
.reason .container .col-r{
    width: 100%;
    text-align: center;
}
/* End reason */






/* Team */
.team .main .container{
    flex-direction: column;
}
.team .main .container .item{
    margin:  30px 0;
}
/* End team */





/* Footer */
.footer .container{
    flex-direction: column;
}
.footer .container .col-l{
    align-items: center;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer .container .col-l .info p{
    text-align: center;
}
.footer .container .col-r{
    flex-direction: column;
    margin-bottom: 40px;
    width: 100% !important;
}
.footer .container .col-r .item{
    margin:  20px 0;
    width: 100%;
}
.footer .container .col-r .item h2{
    text-align: center;
}
.footer .container .col-r .item .link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End footer */
.testi .main .container .slick-dots{
    left: 0;
}
.f-video .container iframe{
    width: 300px;
    height: 500px;
}
.f-video .up h2{
    font-size: 13px;
    position: absolute;
    top: 100px;
    right: 150px;
}
}
/* End mobie dọc */
