*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    
}
.header .container .navbar-brand{
    font-size: 34px;
    font-weight: 700;
    color: #189a46;
}
.header .container .nav-item{
    margin: 0 15px;
}
.header .container .navbar-nav a{
    color: black;
    font-size: 19.2px;
    font-weight: 400;
    padding: 0;
    transform: translateY(15px);
}
.header .container .navbar-nav a:hover{
    color: #189a46;
}
.header .container .navbar-nav hr{
    height: 2px;
    color: green;
}
.header .container .navbar-nav .nav-item .active{
    color: #189a46;
}
.header .container .container-fluid .nav-toggler{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    display: none;
}
.fa-moon{
    transform: rotate(-20deg) scale(var(--ggs, 1)) translateY(10px) !important;
    text-decoration: none;
    margin-top: 12px;
}
/* End header */





/* carousel */
.carousel{
    background-image:url(../img/g4.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;

}
.carousel .container{
    position: relative;
}
.carousel .dim{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.carousel .container h2{
    text-align: center;
    margin-top: 140px;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.carousel .container p{
    font-size: 19.2px;
    color: white;
    text-align: center;
}
.carousel .container p a{
    color: #189a46;
    text-decoration: none;
    font-weight: 500;
}
/* End carousel */





/* Service */
.service{
    padding: 50px 0;

}
.service .container .item{
    display: flex;
    
}
.service .container .item .col-l{
    display: flex;
    align-items: center;
}
.service .container .item .col-l img{
    border-radius: 15px;
    height: 90%;
}
.service .container .item .col-r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.service .container .item .col-r span{
    font-size: 18px;
    color: #f53626;
}
.service .container .item .col-r h1{
    font-size: 40px;
    font-weight: 700;
}
.service .container .item .col-r p{
    font-size: 19.2px;
    color: #696969;
}
.service .container .item .col-r a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
    border-bottom: 2px solid #189a46;
}
.service .container .item .col-r a:hover{
    color: #189a46;
    transition: all 0.5s;
}


.service .container .item1{
    display: flex;
}
.service .container .item1 .col-r{
    display: flex;
    align-items: center;
}
.service .container .item1 .col-r img{
    border-radius: 15px;
    height: 90%;
}
.service .container .item1 .col-l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.service .container .item1 .col-l span{
    font-size: 18px;
    color: #f53626;
}
.service .container .item1 .col-l h1{
    font-size: 40px;
    font-weight: 700;
}
.service .container .item1 .col-l p{
    font-size: 19.2px;
    color: #696969;
}
.service .container .item1 .col-l a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
    border-bottom: 2px solid #189a46;
}
.service .container .item1 .col-l a:hover{
    color: #189a46;
    transition: all 0.5s;
}
.service .container.respon2{
    display: none;
}
/* End service */





/* Footer */
.footer{
    padding: 50px 0 20px 0;
    background-color: black;
    color: white;
}
.footer .container{
    display: flex;
}
.footer .container a{
    color: white;
    text-decoration: none;
    margin: 5px 0;
}
.footer .container a:hover{
    text-decoration:underline;
}
.footer .container h2{
    margin-bottom: 50px;
    font-size: 20px;
}
.footer .container .col-l{
    width: 50%;
}
.footer .container .col-r{
    display: flex;
    width: 50%;
}
.footer .container .col-r .item{
    width: 33.33%;
}
.footer .container .col-r .link{
    display: flex;
    flex-direction: column;
}
.footer .last p{
    text-align: center;
}
.footer .last a{
    color: red;
    text-decoration: none;
}
.footer .last a:hover{
    text-decoration: underline;
}
/* End footer */
.f-video{
    padding: 0 0;
}
.f-video .container{
    text-align: center;
    padding: 0 0;
}
.f-video .container .item{
    position: relative;
}
.f-video .container iframe{
    width: 1000px;
    height: 600px;
    /* position: absolute;
    right: 50%; */
}
.f-video .up{
    display: flex;
    justify-content: end;
}
.f-video .up h2{
    font-size: 13px;
    position: absolute;
    top: 50px;
    right: 150px;
}
.f-video .up h2 a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.f-video .up h2 a span{
    color: red;
}



.top i{
    font-size: 30px;
    color: white;
}
.top{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background-color: #189a46;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}











/* Deskop */
@media screen and (max-width: 1200px) {
    /* Header */
    /* End header */





    /* Carousel */
    /* End carousel */





    /* Service */
    /* End service */





    /* Footer */
    /* End footer */
}
/* End deskop */





/* Tablet */
@media screen and (max-width: 992px) {
    /* Header */
    .header{
        position: relative;
    }
    .header .container .container-fluid .navbar-collapse.collapse{
        display: none;
    }
    .header .container .container-fluid .nav-toggler{
        display: inline-block;
    }
    .header .container .navbar .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* End header */





    /* Carousel */
    .service .container .item,
    .service .container .item1{
        width: 100%;
    }
    .service .container .item img,
    .service .container .item1 img{
        width: 100%;
    }
    .service .container .item .col-l,
    .service .container .item1 .col-l{
        margin-right: 30px;
    }
    /* End carousel */





    /* Service */
    /* End service */





    /* Footer */
    /* End footer */
    .f-video .container iframe{
        width: 700px;
        margin-right: 50px;
        
    }
    .f-video .up h2{
        font-size: 13px;
        position: absolute;
        top: 100px;
        right: 50px;
    }
}
/* End tablet */





/* Mobile ngang */
@media screen and (max-width: 768px) {
    /* Header */
    .header{
        position: relative;
    }
    .header .container .container-fluid .navbar-collapse.collapse{
        display: none;
    }
    .header .container .container-fluid .nav-toggler{
        display: inline-block;
    }
    .header .container .navbar .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* End header */





    /* Carousel */
    /* End carousel */





    /* Service */
    .service .container.respon2{
        display: block;
    }
    .service .container.respon1{
        display: none;
    }
    .service .container .item{
        flex-direction: column;
    }
    .service .container .item .col-l{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .service .container .item .col-l img{
        border-radius: 15px;
        width: 100%;
    }
    .service .container .item .col-r{
        align-items: center;
    }
    .service .container.respon2 h1{
        text-align: center;
    }
    /* End service */





    /* Footer */
    .footer .container{
        flex-direction: column;
    }
    .footer .container .col-l{
        align-items: center;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer .container .col-l .info p{
        text-align: center;
    }
    .footer .container .col-r{
        flex-direction: column;
        margin-bottom: 40px;
        width: 100% !important;
    }
    .footer .container .col-r .item{
        margin:  20px 0;
        width: 100%;
    }
    .footer .container .col-r .item h2{
        text-align: center;
    }
    .footer .container .col-r .item .link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* End footer */
    .f-video .container iframe{
        width: 500px;
        
    }
    .f-video .up h2{
        font-size: 13px;
        position: absolute;
        top: 150px;
        right: 50px;
    }
}
/* End mobile ngang */





/* Mobile dọc */
@media screen and (max-width: 576px) {
    /* Header */
    .header{
        position: relative;
    }
    .header .container .container-fluid .navbar-collapse.collapse{
        display: none;
    }
    .header .container .container-fluid .nav-toggler{
        display: inline-block;
    }
    .header .container .navbar .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* End header */





    /* Carousel */
    /* End carousel */





    /* Service */
    .service .container.respon2{
        display: block;
    }
    .service .container.respon1{
        display: none;
    }
    .service .container .item{
        flex-direction: column;
    }
    .service .container .item .col-l{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .service .container .item .col-l img{
        border-radius: 15px;
        width: 100%;
    }
    .service .container .item .col-r{
        align-items: center;
    }
    .service .container.respon2 h1{
        text-align: center;
    }
    /* End service */





    /* Footer */
    .footer .container{
        flex-direction: column;
    }
    .footer .container .col-l{
        align-items: center;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer .container .col-l .info p{
        text-align: center;
    }
    .footer .container .col-r{
        flex-direction: column;
        margin-bottom: 40px;
        width: 100% !important;
    }
    .footer .container .col-r .item{
        margin:  20px 0;
        width: 100%;
    }
    .footer .container .col-r .item h2{
        text-align: center;
    }
    .footer .container .col-r .item .link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* End footer */
    .f-video .container iframe{
        width: 300px;
        height: 500px;
    }
    .f-video .up h2{
        font-size: 13px;
        position: absolute;
        top: 100px;
        right: 150px;
    }
}
/* End mobile dọc */